body {
    background: rgb(40, 189, 139);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin: 10px;
}

.typing {
    margin: 5px;
	height: 200px;
	width: 200px;
	resize: none;
}